.description-item {
  margin-bottom: 10px;
}

.cart-item-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.trash-icon {
  font-size: 1.5em;
  color: rgb(192, 27, 27);
}

.trash-icon:hover {
  color: rgb(227, 66, 52);
}
