@import url("https://fonts.googleapis.com/css?family=Crimson+Text");

body {
  font-family: "Crimson Text" !important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.icon-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
  padding: 0;
}

.row {
  padding: 0px;
  margin: 0px;
}

.btn-group-xs > .btn, .btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.bg-x-light {
  background-color: rgba(248,249,250,0.5);
}

.full-screen-width-container {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
