.painting-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    height: 100%; /* Set a fixed height for each container */
    text-align: center;
    padding: 10px; /* Add some padding for spacing */
  }
  
  .painting-image {
    max-width: 100%;
    height: auto;
    max-height: 200px; /* Set a maximum height for the image */
  }
  
  .product-dropdown {
    margin-top: 10px; /* Add some space between the image and the dropdown */
  }
  
  .add-to-cart-button {
    margin-top: 10px; /* Add some space between the dropdown and the button */
  }
  