body.locked {
  overflow: hidden;
}

.painting-image {
  width: 100%;
  max-width: max-content;
  /* 90% of the screen height minus the navbar height */
  /* max-height: calc(90vh - 72px); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  object-fit: contain; /* Ensure the image maintains its aspect ratio and fits within the container */
}
